<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Employee Management System</title>
</head>
<body>
    <header>
        <h1>Welcome to the Employee Management System</h1>
    </header>
    <div class="button-container">
        <a href="{{ url_for('employee_list') }}" class="button">View Employees</a>
        <a href="{{ url_for('add_employee') }}" class="button">Add Employee</a>
    </div>
</body>
</html>
